.mainpage{
    width: 100vw;
    height: 100vh;
    background-image: url('https://ik.imagekit.io/clone1010/amazon-image/bigimage1.jpg?updatedAt=1727253500231');
    background-size: cover;
    /* background-repeat: no-repeat; */


}