.TrendingProducts_main {
    height: 380px;
    width: 99vw;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    overflow: hidden;
  }
  
  .TrendingProducts_header {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
  }
  
  .TrendingProducts_carousel {
    scrollbar-width: none;
    display: flex;
    overflow-x: auto;
    padding: 10px;
  }
  
  .trending_image {
    width: 250px;
    height: 260px;
    margin: 0 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    padding: 5px;
  }
  
  .trending_image:hover {
    transform: scale(1.1);
  }
  