.RightSide_main{
    height: 100%;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    /* padding: auto; */
}
.product_main{
    padding: 25px;
    width: 160px;
    margin: 20px;
}
/* .product_main:nth-child(5) {
    overflow-x: hidden;
}
.product_image:nth-child(5){
    object-position: -60px 0px;
} */
.product_name{
    font-size: 16px! important;
    line-height: 24px! important;
    font-weight: bold;
    padding-left: 5px;
    width: 220px;
}
.product_rating{
    font-size: 16px;
    color: #007185;
}
.product_prize{
    color: #B12704;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}