.RightSide_main{
    height: 100%;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    /* padding: auto; */
}
.product_main{
    padding: 30px;
    width: 140px;
    margin: 30px;
}
.product_image{

}
.product_name{
    font-size: 16px! important;
    line-height: 24px! important;
    font-weight: bold;
}
.product_rating{
    font-size: 16px;
    color: #007185;
}
.product_prize{
    color: #B12704;
    font-size: 20px;
    font-weight: 600;
}