.AdvertisementOne_main{
    height: 380px;
    width: 21vw;
    background-color: white;
    margin: 10px;
}
.AdvertisementOne_header{
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding: 15px;
}
.AdvertisementOne_body{
 padding-left: 7px;
}
.AdvertisementOne_footer{
    padding-top: 5px;
    padding: 15px;
}